body {
  background-color: black;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  overflow: hidden;
}

#main-wrapper {
  max-width: 100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7); 
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 13;
  position: relative;
  overflow: hidden;
}

#main-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/image.png') no-repeat center center/cover;
  filter: grayscale(100%);
  z-index: -1; 
}

.header-section {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(125, 120, 120, 1);
  box-shadow: 0px 0px 20px 0px rgba(125, 120, 120, 1);
  border-radius: 10px;
  width: 100%;
  max-width: 900px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  position: relative;
}

.content-row {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  margin: 0 50px 20px;
  flex-wrap: wrap;
}

.details-section {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  background: rgba(125, 120, 120, 0.1);
  border: 1px solid rgba(125, 120, 120, 1);
  box-shadow: 0px 0px 10px 0px rgba(125, 120, 120, 0.5);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.forecast-section {
  width: 100%;
  max-width: 400px;
  height: 50vh;
  border-radius: 10px;
  background: rgba(125, 120, 120, 0.1);
  border: 1px solid rgba(125, 120, 120, 1);
  box-shadow: 0px 0px 10px 0px rgba(125, 120, 120, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap:34px;
}

#location-name {
  color: rgba(255, 0, 107, 1);
  font-size: 25px;
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 20px 0 0 50px;
}

#current-temp {
  color: rgba(255, 200, 1, 1);
  font-size: 40px;
  position: absolute;
  left: 10px;
  margin: 20px 0 0 50px;
}

#weather-desc {
  color: white;
  font-size: small;
  margin:0;
  margin-left: -300px;
  margin-top: 30px;
}
  
#titles{
  justify-content: space-between;
}



.flex-item {
  background: rgba(0, 0, 0, 0.5);
  width: 90px;
  height: 90px;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-top: 10px;
  height: 29vh;

  
}

.forecast-flex {
 display: flex; 
  justify-content: space-around;
  width: 100%;
  height: 100%;
}




h2{
  color: white;
  font-size: 1.2rem;
}
.day {
  text-align: center;
}

@media (max-width: 768px) {
  body{
    overflow: auto;
  }
  .flex-item {
      width: 90px;
      height: 80px;
  }
  .details-flex {
      flex-direction: row;
      overflow-y: auto;
  }
  #main-wrapper {
    width: fit-content;
      /* margin-top: 50px; */
      padding: 10px;
  }
  .header-section {
      height: 20vh;
      flex-direction: column;
      padding: 5px;
  }
  #location-name{
      font-size: 20px;
      margin: 10px;
      margin-bottom: 20px;
  }

  #current-temp{
    font-size: 20px;
      margin: 10px;
      margin-bottom: -10px;
  }
  #weather-desc {
      font-size: small;
      text-align: center;
      margin-top: 20px;
      margin:0;
      margin-left: -150px;
      margin-top: 30px;
  }
  .content-row {
      flex-direction: column;
      align-items: center;
      margin-left: 10%;
  }
  #details-title {
      margin-left:10%;
      text-align: center;
  }
  .details-section {
      flex-direction: row;
  }
}
